/* ===== Themes ===== */
@media (prefers-color-scheme: light) {
  :root {
    --text: #27182a;
    --text_weak: #8c7291;
    --background: #f3f1f1;
    --primary: #ffb6f5;
    --secondary: #ff9ec3;
    --accent: #ffb7ad;
    --shadow: #757575;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /*
    --text: #e4d5e7;
    --background: #0e0c0c;
    --primary: #dc8df2;
    --secondary: #f28de4;
    --accent: #f28dac;
    */

    --text: #dbdff3;
    --text_weak: #606786;
    --background: #050810;
    --primary: #772866;
    --secondary: #1a3587;
    --accent: #c1486f;
    --shadow: #000000;
  }
}

/* ===== General ===== */
* {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: Futura, Bahnschrift, Whitney, sans-serif;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}
h1, h2, h3 {
  line-height: 1.2;
}
p {
  line-height: 1.6;
  font-size: 18px;
}
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

/* ===== Header ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6em;

  display: flex;
  align-items: center;

  background-color: var(--background);
}
.header h1 {
  margin: 0;
}
.header-wrapper {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding: 0 4rem;
  width: 100%;
}
.navbar-desktop {
  display: flex;
  align-items: baseline;
}
.navbar-desktop a {
  margin: 0 1em;
  color: var(--primary);
}
.navbar-phone {
  display: none;
}
.navbar-phone span {
  position: fixed;
  top: 9px;
  right: 20px;
  font-size: 3rem;
  color: var(--text);

  z-index: 9999;

  transition: color 0.9s;

  user-select: none;
}
.modal {
  background-color: var(--secondary);
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: top 0.9s;
  transition-timing-function: ease-in-out;
}
.modal-down {
  background-color: var(--secondary);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.navbar-phone .modal a {
  color: var(--background);
  font-size: xx-large;
}
.navbar-phone .modal h2 {
  margin: 0.5em 0em;
}

/* ===== Main ===== */
.main-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 0 10px;
  min-height: calc(100vh - 6em); /* 100vh - header size*/
  max-width: 650px;

  margin-top: 6em;
}
.main-top {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 0 10px;
  min-height: calc(100vh - 6em); /* 100vh - header size*/
  max-width: 650px;

  margin-top: 6em;
}
.hero {
  text-align: center;
  margin-bottom: 4em;
}
.hero h1 {
  font-size: 3em;
  letter-spacing: -0.04em;
}
.text-block {
  text-align: justify;
  text-justify: inter-word;
  padding: 0 1em;
}
.text-block a
{
  color: var(--primary)
}

/* ===== Footer ===== */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100vw;
  padding: 0 2em 2em;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: var(--primary);
}
.footer p {
  padding: 1em;
}
.footer ul
{
  padding: 0;
}
.footer ul a {
  padding: 0 0.5em;
}
.contact-icon {
  color: var(--secondary);
  max-height: 3em;
}

/* ===== Texts ===== */
span {
  color: var(--accent);
}
.text-color {
  color: var(--text);
}
/* ===== Other elements ===== */
i {
  color: var(--text_weak);
}
a {
  text-decoration: none;
  color: var(--text);
}
a:hover {
  text-decoration: underline;
}
.button {
  background-color: var(--primary);
  border-radius: 25px;
  text-align: center;

  padding: 1em 2em;

  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
.button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px var(--accent);

  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;

  text-decoration: none;
}

/* ===== Phone format ===== */
@media (max-width: 1024px) {
  .header {
    height: 4em;
  }
  .navbar-desktop {
    display: none;
    align-items: baseline;
  }
  .navbar-phone {
    display: flex;
    align-items: center;
  }
  .main-center {
    min-height: calc(100vh - 4em); /* 100vh - header size*/
    margin-top: 4em;
  }
  .main-top {
    min-height: calc(100vh - 4em); /* 100vh - header size*/
    margin-top: 4em;
  }
  .profile-picture {
    box-shadow: inset 0 0 10px var(--shadow);

    border-radius: 20px;
    height: 160px;
    min-width: 160px;
  }
  .hero h1 {
    font-size: 2em;
  }
  .footer {
    padding: 0 1em 1em;
  }
  ul {
    padding: 0;
  }
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 3px none var(--background);
}